@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');



#custom-cursor {
    width: 32px;
    height: 32px;
    background-image: url('cursor.cur');
    background-size: 32px 32px;
    display: none; 
    position: absolute;
    pointer-events: none;
    z-index: 1000;
}

#custom-cursor.clicked {
    background-image: url('clickedcursor.cur');
    background-size: 32px 32px;
}

#custom-cursor.hover {
    background-image: url('clickedcursor.cur');
    background-size: 32px 32px;
}



.centered-container {
  display: flex;
  justify-content: center;
  width: 100%;
}


.fixed-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Pacifico', cursive;
    background-color: #001d3d;
    background-image: url('nyan.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    cursor: none;
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    min-height: 100vh;  
    position: relative;
}


#stop-music-button {
    font-family: 'Press Start 2P', cursive;
    background-color: #4169e1;
    color: white;
    border: none;
    border-radius: 1px;
    padding: 5px 10px;
    font-size: 10px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: none;
    text-transform: uppercase;
    border: 3px solid white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s, border-color 0.3s;
}

#stop-music-button:hover {
    background-color: #1e90ff;
    border-color: #add8e6;
    cursor: none;
}


#content-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    box-sizing: border-box;
    min-height: 100vh;
}


h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 38px;
    color: #add8e6;
    margin-bottom: 1rem;
}

p {
   font-size: 40px;
   padding-left: 25px;
   line-height: 1.5;
}

.button {
    font-family: 'Press Start 2P', cursive;
    background-color: #4169e1;
    color: white;
    border: none;
    border-radius: 1px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    text-transform: uppercase;
    border: 3px solid white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s, border-color 0.3s;
    margin-top: 2rem;
    margin-bottom: 2rem;
}


.button:hover {
    background-color: #1e90ff;
    border-color: #add8e6;
    cursor: none;
}


img {
    max-width: 720px;
    max-height: 300px;
    object-fit: cover;
}

#cat-breed-container p {
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
    color: #87ceeb;
    margin-top: 10px;
}

#cat-fun-fact-container {
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
  color: #87ceeb;
  margin-top: 10px;
  align-items: center;
  text-align: justified;
  vertical-align: middle;
  padding-top: 20px;
}

#cat-fun-fact-wrapper {
  border: 2px dashed #87ceeb;
  border-radius: 5px;
  margin-top: 10px;
  display: none;
  width: 700px; 
  height: 150px; 
  overflow: auto; 
}



